name: Quarkus Todo List CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup JDK and Maven
      uses: s4u/setup-maven-action@v1.14.0
      with:
        java-version: '22'
        maven-version: '3.9.6'
    - name: Show maven version
      run: mvn -v
    - name: Build with Maven
      run: mvn -B package
